<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" name="ChangeSiteLang" clientResourceRelativePath="" tags="EPiServerModulePackage" viewEngine="Razor">
  <assemblies>
    <add assembly="ChangeSiteLang" />
  </assemblies>
  <routes>
    <!-- removes the Swap prefix from our controller when resolving the controller -->
    <!-- see https://world.episerver.com/documentation/developer-guides/CMS/configuration/Configuring-moduleconfig/ -->
    <route>
      <defaults controllerPrefix="">
        <add key="controller" value="ChangeSiteLang" />
        <add key="action" value="Index" />
        <add key="id" value="" />
      </defaults>
    </route>
  </routes>
</module>
